/* *{
  outline: solid 2px orange;
} */

body {
  background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.image-mobile-element {
  position: relative;
  bottom: -70px;
  right: -70px;
  width: 200px;
  filter: drop-shadow(-4px 30px 2px hsl(240, 5%, 91%));
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  font-size: 12px;
  box-shadow: 5px 10px 20px black;
}

.card h3 {
  text-align: center;
  padding-top: 70px;;
}

.accordion .question-item {
  position: relative;
  margin: 10px 10px;
}

.accordion .question {
  position: relative;
  padding: 10px 0;
  cursor: pointer;
}

.accordion .question::before {
  content: '˅';
  color:hsl(14, 88%, 65%);
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .answer {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

.question-item {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  border-bottom: 2px solid hsl(240, 5%, 91%);
}

.question {
  display: flex;
  justify-content: space-between;
}

.question:hover {
  color: hsl(14, 88%, 65%);
  font-weight: bold;
}

i {
  color:hsl(14, 88%, 65%);
  margin: auto 0 auto 25px;
}

.attribution { 
  font-size: 11px; text-align: center; 
  padding-top: 40px;
}

.attribution a { 
  color: hsl(229, 49%, 87%); 
}

@media only screen and (min-width:768px) {

  .image-mobile-element {
  display: none;
  } 

  .card {
    width:600px;
    padding: 0 40px;
    padding-left:200px;
    width:400px;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
  }
}

